{% extends 'default.twig' %}
{% block content %}
<div class="row" style="text-align: center;">
<form action="getvideo.php">
<input type="text" class="main-input" name="url" placeholder="Enter a video URL...." style="width:500px;max-width:80%;">
<input type="submit" value="Get Video" class="main-input" id="get-button">
</form>
</div>


<br><br><br><br>
		<div class="container-fluid" id="video" style="color:white; max-width:900px;">
		
			<div style="padding:20px; border-radius:2px; border: 1px solid rgba(255,255,255,0.25);">
			
				<h2 style="font-weight:100; text-align:center;"> {{video.title}} </h2>
				
			<br><br><br><br>
			
			<div class="container" style="color:white; max-width:900px;">
			
			<div class="row" style="text-align:left";">
			
			<div class="col-md-4">
			
			
			<!--Thumbnail -->
			
			
			<label for="thumbnail">Thumbnail</label><br>
			<img src="{{video.thumbnail}}" alt="{{video.title}} thumbnail" style="max-width:200px"><br><br>
			</div>
			<div class="col-md-4">
			<!-- Uploader, Views, Duration -->
			<br>
			<label for="channel">Channel</label><br>
			<label for="channel" style="font-weight:300;"><a href="{{video.uploader_url}}">{{video.uploader}}</a></label><br>
			
			
			<label for="views">Views</label><br>
			<label for="views" style="font-weight:300;">{{video.views}}</label><br>
			
			
			<label for="Duration">Duration</label><br>
			<label for="Duration" style="font-weight:300;">{{video.duration}}</label><br>
			</div>
			
			<div class="col-md-4">
		

		<!-- Download Links -->
			<br>

			{% for format in formats %}
		
		<label for="download">
					
					<a href="{{format.url}}" class="dl-link" target="_blank" download>
			
			<! -- For Video and Audio -->
			
		{% if format.video and format.audio %}
			<i class="fa fa-video"></i>
			<i class="fa fa-volume-up"></i>
		{% endif %}	
			
			<! -- For Video not Audio -->
			
		{% if format.video and (not format.audio) %}
			<i class="fa fa-video"></i>
			
		{% endif %}	
			
			<! -- For Audio Only-->
			
		{% if format.audio and (not format.video) %}
			<i class="fa fa-volume-up"></i>
			
			
	{% endif %}	
		{{format.extension | upper}} - {{format.additional | upper}}
		
			
									</a></label><br>
			
					{% endfor %}
			
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}